@font-face {
	font-family: sega;
	src: url(../style/font/SEGA.TTF);
}

html,
body {
	transition: 1s;
	scroll-behavior: smooth;
}
form {
	position: relative;
	height: 100%;
	input {
		height: 30px;
		background-color: transparent;
		border-radius: 15px;
		border: 1px solid grey;
		padding: 5px 10px;
		width: 100px;
		transition: 1s;
		&:focus {
			outline: none;
			width: 250px;
		}
	}
	button {
		position: absolute;
		top: 1px;
		height: 29px;
		right: 1px;
		border: none;
		border-left: 0.5px solid rgba(128, 128, 128, 0.473);
		background-color: transparent;
		padding: 5px 10px;
	}
	@media screen and (max-width: 500px) {
		input {
			width: 40px;
			transition: 1s;
			&::placeholder {
				color: transparent;
			}
			&:focus {
				width: 100px;
			}
		}
		button {
			border-left: none;
			z-index: -1;
		}
	}
}

.header {
	font-family: sega;
	letter-spacing: 2px;
	width: 80%;
	margin: auto;
	.top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		padding: 30px 0 20px;
		.title {
			width: 50%;
			.icons {
				position: relative;
				display: inline-block;
				margin-right: 15px;
				&::after {
					content: "";
					position: absolute;
					left: -20px;
					top: 50%;
					transform: translateY(-50%);
					height: 5px;
					width: 5px;
					border-radius: 50%;
					background: linear-gradient(100deg, yellow, red);
				}
			}
		}
		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 100%;
			background-image: linear-gradient(100deg, transparent, yellow, red);
		}
	}
	.bottom {
		padding-top: 20px;
		.AllCategorie {
			display: flex;
			flex-wrap: wrap;
			.Categorie {
				font-family: ubuntu;
				padding: 10px 15px;
				margin: 5px 10px;
				background-color: black;
				transition: 1s;
				&.active {
					position: relative;
					background-color: red;
					&::after {
						background-color: red;
					}
				}
				&::after {
					content: "";
					position: absolute;
					bottom: -15px;
					left: 50%;
					height: 5px;
					width: 5px;
					border-radius: 50%;
					background-color: transparent;
					transition: 1s;
					transform: translateX(-50%);
				}
			}
		}
	}
}

.big-card {
	.Card {
		position: relative;
		height: auto;
		width: 200px;
		margin: 30px 10px;
		transition: 1s;
		img {
			height: 275px;
			border-radius: 5px;
			width: 100%;
			object-fit: cover;
		}
		.title {
			width: 100%;
			padding: 5px;
			padding-left: 0;
			text-align: left;
			font-weight: bolder;
			font-size: 0.75em;
		}
		.details {
			display: flex;
			justify-content: space-between;
			font-size: 0.65em;
		}
		&.active {
			height: 320px;
			width: 220px;
		}
		&::after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			z-index: -1;
			height: 100%;
			width: 100%;
			transform: scaleX(1.05) scaleY(1.025);
			filter: blur(100px);
			background-color: rgba(255, 0, 0, 0.5);
		}
		@media screen and(max-width:800px) {
			& {
				width: 150px;
				img {
					height: 200px;
				}
			}
		}
		@media screen and(max-width:600px) {
			& {
				width: 100px;
				img {
					height: 150px;
				}
			}
		}
	}
}

.more {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	padding: 20px;
	padding-bottom: 50px;
	font-family: sega;
	text-align: right;
	.item {
		position: relative;
		padding: 15px;
		margin: 0 15px;
		font-size: 0.75em;
		opacity: 0.5;
		span {
			font-size: 0.75em;
		}
		&.prev,
		&.next {
			font-size: 1.25em;
			opacity: 0.75;
		}
		&.current {
			font-size: 1.75em;
			opacity: 1;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0%;
			left: 0%;
			z-index: -1;
			height: 100%;
			width: 100%;
			filter: blur(40px);
			background-color: black;
		}
	}
}
