*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: white;
}
body {
	background-color: black;
}
