*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: ubuntu;
}
#root::-webkit-scrollbar {
	background-color: transparent;
	width: 2px;
}

#root::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, white, transparent);
}
