$defaultColor: #cfa55b;
$darkDefault: #19181e;
$backgroundColor: #19181e;
$backgroundColorTransparent: #19181e;

$backgroundColorTransparentmoins: #19181e64;
$defaultTextColor: rgba(255, 255, 255, 0.201);

.link {
	color: aliceblue;
}
.link:hover {
	text-decoration: none;
	border-bottom: none;
}
.cardMovie {
	position: relative;
	height: 250px;
	width: 200px;
	margin: 0 1px;
	overflow: hidden;
	background: url(../../movies/bg.gif);
	background-size: cover;
	&::after {
		content: "";
		position: absolute;
		top: 0%;
		height: 100%;
		width: 100%;
		z-index: 1;
		transition: 1s;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&:hover::after {
		background: transparent;
	}
	.text {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: auto;
		padding: 10px;
		padding-left: 5px;
		color: white;
		transition: 1s;
		background: $backgroundColorTransparentmoins;
		overflow: hidden;
		h2 {
			font-size: 0.75em;
			padding: 2.5px 0;
			border-bottom: 1px solid $defaultColor;
		}
	}
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	&:hover {
		img {
			transform: scale(1.2);
		}
		.text {
			background: $backgroundColorTransparent;
		}
	}
}

.cardTv {
	position: relative;
	height: 250px;
	width: 200px;
	margin: 0 1px;
	overflow: hidden;
	background: url(../../movies/bg.gif);
	background-size: cover;
	&::after {
		content: "";
		position: absolute;
		top: 0%;
		height: 100%;
		width: 100%;
		z-index: 1;
		transition: 1s;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&:hover::after {
		background: transparent;
	}

	.text {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: max-content;
		padding: 10px;
		padding-left: 5px;
		color: white;
		transition: 1s;
		background: $backgroundColorTransparentmoins;
		h2 {
			font-size: 0.75em;
			padding: 2.5px 0;
			border-bottom: 1px solid $defaultColor;
		}
	}
	&:hover {
		img {
			transform: scale(1.2);
		}
		.text {
			background: $backgroundColorTransparent;
		}
	}
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
