$defaultColor: #cfa55b;
$darkDefault: #19181e;
$backgroundColor: #19181e;
$backgroundColorTransparent: #19181ed8;
$defaultTextColor: rgba(255, 255, 255, 0.5);

.Loader {
	position: fixed;
	top: 0;
	z-index: 10;
	height: 100vh;
	width: 100%;
	background-color: $backgroundColorTransparent;
	transition: 1s;
	display: flex;
	justify-content: center;
	align-items: center;
	.croix {
		position: fixed;
		top: 0;
		right: 0;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
	}
	.spinner {
		height: 100px;
		width: 100px;
		border-radius: 50%;
		position: relative;
		//	background: linear-gradient(90deg, $defaultTextColor, $defaultColor);
		.child {
			box-sizing: border-box;
			position: absolute;
			height: 100px;
			width: 100px;
			border: 10px solid transparent;
			border-top-color: $defaultColor;
			border-radius: 50%;
			animation: spinnerOne 1.2s linear infinite;
			&:nth-child(2) {
				border: 10px solid transparent;
				border-bottom-color: $defaultColor;
				animation: spinnerTwo 1.2s linear infinite;
			}
		}
	}
}

@keyframes spinnerOne {
	0% {
		transform: rotate(0deg);
		border-width: 10px;
	}
	50% {
		transform: rotate(180deg);
		border-width: 1px;
	}
	100% {
		transform: rotate(360deg);
		border-width: 10px;
	}
}
@keyframes spinnerTwo {
	0% {
		transform: rotate(0deg);
		border-width: 1px;
	}
	50% {
		transform: rotate(180deg);
		border-width: 10px;
	}
	100% {
		transform: rotate(360deg);
		border-width: 1px;
	}
}
