$defaultColor: #cfa55b;
$darkDefault: #19181e;
$backgroundColor: #19181e;
$backgroundColorTransparent: #19181e8b;
$defaultTextColor: rgba(255, 255, 255, 0.5);
.MovieCard {
	position: relative;
	height: 22vw;
	width: 22vw;
	background: url(../../movies/bg.gif);
	background-size: cover;
	border: 1px solid $backgroundColor;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		height: 100%;
		width: 100%;
		background: $backgroundColorTransparent;
	}
	&:hover::after {
		background: transparent;
	}
}
.link {
	color: $backgroundColorTransparent;
}
.link:hover {
	text-decoration: none;
	border-bottom: none;
}
