$defaultColor: #cfa55b;
$darkDefault: #19181e;
$backgroundColor: #19181e;
$backgroundColorTransparent: #19181ea7;
$defaultTextColor: rgba(255, 255, 255, 0.5);.Search {
	height: 50vh;
	background-color: blue;
}
