$defaultColor: #cfa55b;
$darkDefault: #19181e;
$backgroundColor: #19181e;
$backgroundColorTransparent: #19181ea7;
.vueNews {
	height: 100vh;
	width: 90%;
	margin: auto;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-wrap: wrap;
	.top,
	.bottom {
		height: 32%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		.left {
			position: relative;
			height: 100%;
			width: 63%;
			background: aliceblue;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			&::after {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				content: "";
				height: 100%;
				width: 100%;
				background: $backgroundColorTransparent;
			}
			&:hover::after {
				background: transparent;
			}
		}
		.right {
			position: relative;
			height: 100%;
			width: 35%;
			background: aliceblue;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			&::after {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				content: "";
				height: 100%;
				width: 100%;
				background: $backgroundColorTransparent;
			}
			&:hover::after {
				background: transparent;
			}
		}
	}
	.middle {
		height: 30%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		.center {
			position: relative;
			height: 100%;
			width: 32%;
			background-color: aliceblue;
			&::after {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				content: "";
				height: 100%;
				width: 100%;
				background: $backgroundColorTransparent;
			}
			&:hover::after {
				background: transparent;
			}
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}
